@media (max-width: 400px) {
  	/* styles for smallest viewport widths */
  	.mobile-container-fluid {
    	padding-left: 2px !important;
    	padding-right: 2px !important;
  	}

  	.mobile-card-body {
    	padding-left: 10px !important;
    	padding-right: 10px !important;
  	}

  	.mobile-card-mt {
  		margin-bottom: 5px !important;
  		margin-top: 5px !important;
  	}

  	.mobile-button {
	  	padding-left: 7px !important;
	    padding-right: 7px !important;
  	}

  	.mobile-col-sm-6 {
	  	margin-right: -15px !important;
	  	padding-left: 50px !important;
	    padding-right: 0px !important;
  	}

  	.table-text-info {
		margin-top:5px  !important;
	}

}

.justify-content-end { 
  	margin-right: -15px !important;
}

.table-text-info {
	margin-top:10px;
	margin-bottom:0px;
}